@model  Framework.Models.Dto.TopMenuDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="ui massive inverted blue menu">

        <div class="right menu">

            @{
                if (Model.IsLogedIn)
                {
                    <div class="ui tiny header item">@Framework.Resources.UserLanguage.Welcome @Model.UserName</div>
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home"? "active item" : "item")" asp-controller="Home" asp-action="Index">@Framework.Resources.UserLanguage.HomePage</a>
                    if (Model.IsAdmin)
                    {
                        <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Admin"? "active item" : "item")" asp-controller="Admin" asp-action="Index">@Framework.Resources.UserLanguage.AdministratorPanel</a>
                    }
                    <a id="diet" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Diet"? "active item" : "item")" asp-controller="Diet" asp-action="Index">@Framework.Resources.ButtonLanguage.Diet </a>
                    <a class="item" asp-controller="Login" asp-action="Logout">@Framework.Resources.ButtonLanguage.Logout</a>
                }
                else
                {
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home"? "active item" : "item")" asp-controller="Home" asp-action="Index">@Framework.Resources.UserLanguage.HomePage</a>
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Register"? "active item" : "item")" asp-controller="Register" asp-action="Index">@Framework.Resources.ButtonLanguage.SingUp</a>
                    <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Login"? "active item" : "item")" asp-controller="Login" asp-action="Index">@Framework.Resources.ButtonLanguage.Login</a>
                    <a class="item" asp-controller="Login" asp-action="AdminLogin">Admin</a>
                }
            }
        </div>
    </div>
 <div class="ui hidden divider"></div>