@model  IEnumerable<Framework.Models.Dto.UserDto>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

        <form id="showTest" method="post" asp-controller="Diet" asp-action="ProductList">

            <table id="table" class="ui sortable selectable celled  table">

                <thead>
                    <tr>
                        <th hidden>Id column</th>
                        <th class="sorted ascending">@Framework.Resources.UserLanguage.Login</th>
                        <th>@Framework.Resources.UserLanguage.Email</th>
                        <th>@Framework.Resources.UserLanguage.Age</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr onclick="showDetails(this)">
                            <td hidden><input id="selectedUserId" type="hidden" value="@item.UserId" />
                            <td>@item.Login</td>
                            <td>@item.Email</td>
                            <td>@item.Age</td>
                        </tr>
                    }

                </tbody>

            </table>

        </form>