@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="ui visible inverted left vertical sidebar menu" id="sidebar">
    <div class="item">
        <i class="settings icon"></i>@Framework.Resources.ButtonLanguage.Management
        <div class="menu">
            <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Users" ? "active item" : "item")" asp-controller="Admin" asp-action="Users">@Framework.Resources.ButtonLanguage.UsersManagement</a>
            <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Products" ? "active item" : "item")" asp-controller="Admin" asp-action="Products">@Framework.Resources.ButtonLanguage.ProductManagement</a>
            <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active item" : "item")" asp-controller="Admin" asp-action="Index">@Framework.Resources.ButtonLanguage.Help</a>
        </div>
    </div>
</div>
